<!--
@Date:   2019-11-05T13:58:35+01:00
@Last modified time: 2020-03-10T15:21:24+01:00
-->
<!-- dieser Div ist für den Hilfe Button und wird nur angezeigt, wenn auf den Hilfe-button gedrückt wird. -->
<!-- <div class="modal" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Hilfe</h4>
      </div>
      <div class="modal-body">
        <h4>Funktionsweise</h4>
        Die Begriffe können mit Drag and Drop verschoben werden.
        Durch Klicken auf die gelben Vierecke erzeugen Sie einen Pfeil, den sie durch ziehen auf einen anderen Begriff mit diesem verbinden. Es öffnet sich anschließend automatisch das Textfeld des Pfeils, welches durch Drücken
        der Enter-Taste geschlossen und durch anklicken erneut geöffnet werden kann. Zum Löschen von Pfeilen dient das sich daran befindliche kleine Kreuz. Zum Einreichen und Beenden der Concept Map drücken Sie bitte auf Fertig.

        <h4>Bitte beachten</h4>
        <ul>
          <li>Begriffe sind durch beschriftete Pfeile zu verbinden, die den Zusammenhang darstellen.</li>
          <li>Jeder Pfeil muss beschriftet sein und ein Verb enthalten.</li>
          <li>Beziehungen sollten nur zwischen direkten Nachbarn bestehen. Bilden Sie keine Sätze über drei oder mehr Begriffe!</li>

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>-->

<div id="containerDiv" style="padding-left:45px">
  <div class="row">
    <div class="col-med-12">
      <div class="page-header">
        <h1>{{# str }} submissionFor, conceptmaps, {{topic_name}} {{/ str }}
        </h1>
        {{# switchUsers }}
        <label for="user_select">{{# str }}user, conceptmaps {{/ str }}:</label>
        <select id="user_select" name="user_select" class="custom-select" tabindex="1" {{#disabled}}disabled{{/disabled}}>
            {{#options}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/options}}
        </select>
        {{#js}}
          document.getElementById("user_select").onchange = function(event) {
            window.location = "?id={{ cmid }}&submission="+ event.srcElement.value +"&action=solution";
          }
        {{/js}}

        {{/ switchUsers }}
        {{# doCorrection }}
        <label for="version_select">{{# str }} version, conceptmaps {{/ str }}:</label>
        <select id="version_select" name="version_select" class="custom-select" tabindex="1" {{#disabled}}disabled{{/disabled}}>
            {{#versions}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/versions}}
        </select>
        {{#js}}
          document.getElementById("version_select").onchange = function(event) {
            window.location = "?id={{ cmid }}&submission="+ event.srcElement.value +"&action=solution";
          }
        {{/js}}
        {{/ doCorrection }}
      </div>
      <div id="main">
        <div style="text-align: left;">
          Zoom:
          <button id="zoomPlus"><i class="icon fa fa-plus fa-fw " title="{{# str }} zoomPlus, conceptmaps {{/ str }}" alt="{{# str }} zoomPlus, conceptmaps {{/ str }}"></i></button>
          <button id="zoomMinus"><i class="icon fa fa-minus fa-fw " title="{{# str }} zoomMinus, conceptmaps {{/ str }}" alt="{{# str }} zoomMinus, conceptmaps {{/ str }}"></i></button>
          <button id="zoom100">100%</button>
          {{^ doCorrection }}
          <button id="save">{{# str }} save, conceptmaps {{/ str }}</button>
          <button id="submitConceptmap">{{# str }} submit, conceptmaps {{/ str }}</button>
          {{/ doCorrection }}
        </div>
        <div class="conceptmap" id="conceptmap">

          {{#newVersion}}
            {{# terms}}
              {{# editable}}
                <div class="w" id="state{{id}}" style="top:{{positiony}}; left:{{positionx}};">
                  <div class="w-drag w-drag-box">{{> core/inplace_editable }}</div>
                  <div class="ep"></div>
                </div>
              {{/ editable}}
              {{^ editable}}
                <div class="w" id="state{{id}}" style="top:{{positiony}}; left:{{positionx}};">
                  <div class="w-drag w-drag-box"><span id="state{{id}}-name" class="w-drag">{{name}}</span></div>
                  <div class="ep"></div>
                </div>
              {{/ editable}}
            {{/ terms}}
          {{/newVersion}}
          {{^newVersion}}
            {{# terms}}
              {{# editable}}
                <div class="w" id="state{{id}}" style="top:{{positiony}}; left:{{positionx}};">
                  <div class="w-drag w-drag-box">{{> core/inplace_editable }}</div>
                  <div class="ep"></div>
                </div>
              {{/ editable}}
              {{^ editable}}
                <div class="w" id="state{{id}}" style="top:{{positiony}}; left:{{positionx}};">
                  <div class="w-drag w-drag-box"><span id="state{{id}}-name" class="w-drag">{{name}}</span></div>
                  <div class="ep"></div>
                </div>
              {{/ editable}}
            {{/ terms}}
          {{/newVersion}}
        </div>
      </div>
      {{# doCorrection }}
        <form action="view.php?id={{cmid}}&action=correctConceptmap&submission={{ submissionid }}" method="post">
          Feedback:
          <textarea name="comment" style="width:1440px">{{ comment }}</textarea>
          {{# corrector }}
          <input type="checkbox" name="redo" {{# redo }} checked {{/ redo }}>{{# str }} redoCheckbox, conceptmaps {{/ str }}
          <input type="checkbox" name="corrected" {{# corrected }} checked {{/ corrected }}>{{# str }} correctedCheckbox, conceptmaps {{/ str }}
          <input class="btn btn-success" type="submit" value"{{# str }} save, conceptmaps {{/ str }}">
          <a class="btn btn-danger" href="view.php?id={{cmid}}">{{# str }} toOverview, conceptmaps {{/ str }}</a>
          {{/ corrector }}
        </form>
        {{^ corrector }}
          <a class="btn btn-primary" href="view_student.php?id={{cmid}}">{{# str }} toOverview, conceptmaps {{/ str }}</a>
        {{/ corrector }}
      {{/ doCorrection }}
    </div>
  </div>
</div>
