<h1>{{# str }} correction, conceptmaps {{/ str }} <small>{{# str }}singleEdges, conceptmaps {{/ str }}</small></h1>

{{{ table }}}

{{#js}}
require(['jquery', 'core/ajax', 'core/notification'], function($, ajax, notification) {

    // Add/Remove auto edges
    $("a[id^='add_edge_']").click(function (event) {
      let ori_id = event.target.id;
      let edgeid = ori_id.replace('add_edge_', '');
      let cmid = event.target.dataset.cmid;

      if(event.target.text.startsWith("+")) {
        event.target.text = "-" + "{{# str }} delete, conceptmaps {{/ str}}";

        // Add this edge to
        var promises = ajax.call([{
          methodname: 'mod_conceptmaps_add_auto_edge',
          args: {conceptmapsid: cmid, edgeid: edgeid}
        }]);
        promises[0].done(function(response) {
          //response: external_single_structure(
          //  array(
          //    'success' => new external_value(PARAM_BOOL),
          //    'edge_id' => new external_value(PARAM_INT),
          //    'edges' => new external_multiple_structure(new external_single_structure(array("id" => new external_value(PARAM_INT))))
          //  )
          //)
          if(response.success == true) {
            // change the sign of auto_edge for all regarding edges
            for(var key in response.edges) {
              $('#add_edge_'+response.edges[key].id).text("-" + "{{# str }} delete, conceptmaps {{/ str}}");
            }
          } else {
            event.target.text = "+" + "{{# str }} add, conceptmaps {{/ str}}";
            notification.addNotification({
              message: "{{# str }} conceptmap_auto_edge_already_exists, conceptmaps {{/ str}}",
              type: "error"
            });
          }

        }).fail(function(ex) {
          console.error(ex);
          event.target.text = "+" + "{{# str }} add, conceptmaps {{/ str}}";
        });
      } else {
        event.target.text = "+" + "{{# str }} add, conceptmaps {{/ str}}";

        // Remove this edge from auto correction
        var promises = ajax.call([{
          methodname: 'mod_conceptmaps_remove_auto_edge',
          args: {conceptmapsid: cmid, edgeid: edgeid}
        }]);
        promises[0].done(function(response) {
          if(response.success == true) {
            // change the sign of auto_edge for all regarding edges
            for(var key in response.edges) {
              $('#add_edge_'+response.edges[key].id).text("+" + "{{# str }} add, conceptmaps {{/ str}}");
            }
          } else {
            event.target.text = "-" + "{{# str }} delete, conceptmaps {{/ str}}";
            notification.addNotification({
              message: "{{# str }} conceptmap_auto_edge_already_exists, conceptmaps {{/ str}}",
              type: "error"
            });
          }
        }).fail(function(ex) {
          console.error(ex);
          event.target.text = "-" + "{{# str }} delete, conceptmaps {{/ str}}";
        });
      }
    });

    var getValue = function(id) {
      var formal_value = $("input[name='formal_correct_"+id+"']").prop( "checked") ? 2 : 0;
      var content_value = $("input[name='content_correct_"+id+"']").prop( "checked") ? 1 : 0;
      return formal_value + content_value;
    }


    // Change Status

    var changeVerification = function(event, verificationType) {

      let ori_id = event.target.name;
      let edgeid = ori_id.replace(verificationType + '_correct_', '');
      let cmid = event.target.dataset.cmid;
      let check = $("input[name='"+verificationType+"_correct_"+edgeid+"']").prop( "checked");
      var value = getValue(edgeid);

      var promises = ajax.call([{
        methodname: 'mod_conceptmaps_change_verification',
        args: {conceptmapsid: cmid, edgeid: edgeid, value: value}
      }]);
      promises[0].done(function(response) {
        if(response.success == true) {
          // change the status of auto_edge for all regarding edges
          for(var key in response.edges) {
            $("input[name='"+verificationType+"_correct_"+response.edges[key].id+"']").prop( "checked", check );
          }
        } else {
          event.target.checked = !check;
          notification.addNotification({
            message: "{{# str }} conceptmap_change_verification_failed, conceptmaps {{/ str}}",
            type: "error"
          });
        }
      }).fail(function(ex) {
        console.error(ex);
        event.target.checked = !check;
        notification.addNotification({
          message: "{{# str }} conceptmap_change_verification_failed, conceptmaps {{/ str}}",
          type: "error"
        });
      });
    }

    {{^ finished }}

    $("input[name^='formal_correct']").change(function(event) {

      changeVerification(event, 'formal');
    });

    $("input[name^='content_correct']").change(function(event) {

      changeVerification(event, 'content');
    });

    $("input[id^='comment']").change(function(event) {
      let ori_id = event.target.id;
      let edgeid = ori_id.replace('comment_', '');
      let cmid = event.target.dataset.cmid;

      var value = event.target.value;

      var promises = ajax.call([{
        methodname: 'mod_conceptmaps_change_comment',
        args: {conceptmapsid: cmid, edgeid: edgeid, value: value}
      }]);
      promises[0].done(function(response) {
        if(response.success == true) {
          // change the status of auto_edge for all regarding edges
          for(var key in response.edges) {
            $("input[id='comment_"+response.edges[key].id+"']")[0].value = value;
          }
        } else {
          //TODO: mark the falsy one
          notification.addNotification({
            message: "{{# str }} conceptmap_change_verification_failed, conceptmaps {{/ str}}",
            type: "error"
          });
        }
      }).fail(function(ex) {
        console.error(ex);
        //TODO: mark the falsy one
        notification.addNotification({
          message: "{{# str }} conceptmap_change_verification_failed, conceptmaps {{/ str}}",
          type: "error"
        });
      });
    });

    {{/ finished }}

    $("button[id^='verified']").click(function(event) {
      let ori_id = event.target.id;
      let edgeid = ori_id.replace('verified_', '');
      let cmid = event.target.dataset.cmid;
      var value = 1;
      {{# finished }}
        value = 0;
      {{/ finished }}

      var promises = ajax.call([{
        methodname: 'mod_conceptmaps_change_verified',
        args: {conceptmapsid: cmid, edgeid: edgeid, value: value}
      }]);
      promises[0].done(function(response) {
        if(response.success == true) {
          //TODO aus Liste entfernen!
        } else {
          //TODO: mark the falsy one
          notification.addNotification({
            message: "{{# str }} conceptmap_change_verification_failed, conceptmaps {{/ str}}",
            type: "error"
          });
        }
      }).fail(function(ex) {
        console.error(ex);
        //TODO: mark the falsy one
        notification.addNotification({
          message: "{{# str }} conceptmap_change_verification_failed, conceptmaps {{/ str}}",
          type: "error"
        });
      });
    });


});
{{/js}}

{{# finished }}
<div class="submit-row">
  <a class="btn btn-primary btn" href="?id={{ cmid }}&topic={{ topicid }}&action=singlecorrection&finished=0">{{# str }} toUnverified, conceptmaps {{/ str}}</a>
</div>
{{/ finished }}
{{^ finished }}
<div class="submit-row">
  <a class="btn btn-primary btn" href="?id={{ cmid }}&topic={{ topicid }}&action=singlecorrection&finished=1">{{# str }} toVerified, conceptmaps {{/ str}}</a>
</div>
{{/ finished }}
